/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: poppins;
    background-color: #DFE3F9;
}

.header-section{
    align-items: center;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    height: 50px;
    background-color: #ADB4FB;
}

.logo{
    width: 33px;
    height: 33px;
}

.navbar{
  margin: auto;
  margin-left: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #4D56EA;
}

.parent-rigth-navbar{
  padding-right:50px;
}

.nav-item{
    margin: auto;
    margin-right: 40px;
    display: inline-block;
    padding-top: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #079D75;
}

  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #0021A3;
    background-color: inherit;
    font-family: poppins; 
  }

  .small-svg {
    width: 16px;
    height: 16px;
    }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #A8ABAD;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; 
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #A8ABAD;
    min-width: 78px;
    z-index: 1;
    border-bottom-right-radius: 4px; 
    border-bottom-left-radius: 4px; 
  }
  
  .dropdown-content a {
    color: black;
    padding: 3px 7px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .chart-title{
    padding-top: 80px;
  }

  .chart-title h1{
    color: #4D56EA;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 1;

  }

  .chart-title p{
    color: black;
    font-size: 18px;
    text-align: center;
    line-height: 2;
  }

  .chart-container {
    display: flex; 
    padding-top: 20px;
    justify-content: center; 
    align-items: center;
  }

  .bgchart{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 300px;
    background: #3F50B4;
    opacity: 0.4;
  }

  .chart-container img {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 780px;
    height: 390px;
  }
  
  .parent-desc-container{
    display: flex;
    margin-top: 50px;
    justify-content: center;
  }

  .desc-container{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: #A1A7F0;
    border-radius: 20px;
    text-align: justify;
    line-height: 1.5;
  }


  

footer{
 margin-top: 50px; 
}

.footer-content{
  background-color: #5E66E7;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
}

.text-footer{
  float: left;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding-top: 5px;
}

  .list-footer{
    text-decoration: none;
    line-height: 1.5;
  }
  
  .ds{
    text-decoration: none;
    color: white;
  }

  .team{
    text-decoration: none;
    color: white;
  }

  .github{
    text-decoration: none;
    color: white;
  }
  .parent-copyright{
    display: flex;
    justify-content: center;
    background-color: #4B53D1;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 10px;
  }




 